section {
    color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5rem;
    max-width: 1535px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.15rem;
}

span {
    display: inline-block;
}

svg {
    fill: white;
    width: 1.8rem;
    height: 1.8rem;
}

.who-am-i {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.who-am-i__info {
    width: 75%;
}

.who-am-i__activities {
    list-style: none;
    padding: 1.5rem;
}

.who-am-i__activity {
    font-size: 1.15rem;
}

.svg-back {
    padding-top: 2px;
    vertical-align: middle;
}

.color-text {
    color: #ce2a56;
}

.skillsets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsets__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillset__box {
    border: 2px solid rgb(207, 42, 86);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 14rem;
    margin: 1rem 0.5rem;
    box-shadow: 1px 1px 1px rgba(207, 42, 86);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.skillset__box:hover{
    box-shadow: 1px 1px 1px 2px rgba(207, 42, 86);
    transform: scale(1.05);
}

.svg-skill {
    display: inline-block;
    padding-top: 1rem;
}

.svg-skill img {
    width: 7.5rem;
    height: 7.5rem;
}

.more-size {
    font-size: 1.3rem;
    margin: 0.3rem;
}

@media screen and (max-width: 930px) {
    .who-am-i {
        flex-direction: column;
    }

    .who-am-i__info {
        width: 100%;
    }

    .svg-skill img {
        width: 4.5rem;
        height: 4.5rem;
    }

    .skillset__box {
        padding: 0.8rem;
        width: 9rem;
        height: 9rem;
        margin: 0.75rem 0.40rem;
    }

    .more-size {
        font-size: 0.8rem;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 392px) {
    .skillsets__info {
        display: flex;
        flex-wrap: wrap;

    }

    .skillset__box {
        padding: 0.5rem;
        width: 7.5rem;
        height: 7.5rem;
        margin: 0.4rem 0.40rem;
    }

    .svg-skill img{
        width: 3.5rem;
        height: 3.5rem;
    }

    .more-size {
        font-size: 0.8rem;
        margin: 0.2rem;
    }
}
