main {
    margin-top: 4.5rem;
    min-height: calc(100vh - 4.5rem);
    width: 100vw;
}

@media screen and (max-width: 850px) {
    main {
        padding: 0;
        min-height: calc(100vh - 152px);
    }
}
